@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* 1. El tamaño del scroll (Ancho para vertical, alto para horizontal) */
  ::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }

  /* 2. La pista (El fondo por donde se mueve) */
  ::-webkit-scrollbar-track {
    background: #0f172a; /* Slate 900 (o el fondo de tu app) */
  }

  /* 3. La barra / tirador (Lo que arrastras con el ratón) */
  ::-webkit-scrollbar-thumb {
    background: #939aa5; /* Slate 800 por defecto */
    border-radius: 15px;
    border: 4px solid #0f172a; /* Un borde sutil */
  }

  /* 4. El tirador cuando pasas el ratón por encima (Hover) */
  ::-webkit-scrollbar-thumb:hover {
    background: #237280; /* ¡Tu cian de Tailwind! 🚀 */
  }

  ::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  /* 2. La pista (El fondo por donde se mueve) */
  html.light .dashboard-native-scroll::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }

  html.light .dashboard-native-scroll::-webkit-scrollbar-track {
    background: #ecf5fc;
  }

  /* 3. La barra / tirador (Lo que arrastras con el ratón) */
  html.light .dashboard-native-scroll::-webkit-scrollbar-thumb {
    background: #007f9e;
    border: 4px solid #ecf5fc;
    border-radius: 15px;
  }

  /* 4. El tirador cuando pasas el ratón por encima (Hover) */
  html.light .dashboard-native-scroll::-webkit-scrollbar-thumb:hover {
    background: #21b8d6;
  }

  html.light .dashboard-native-scroll::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-width: thin;
      scrollbar-color: #1e293b #0f172a;
    }

    html.light .dashboard-native-scroll {
      scrollbar-width: thin;
      scrollbar-color: #007f9e #ecf5fc;
    }
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
